<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }




        body {
            font-family: 'Oswald', sans-serif;
            background-color: #f0f0f0;
            text-align: center;

        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px; /* Added border-radius for rounded corners */

        }

        h1 {
            font-size: 24px;
        }

        p {
            margin: 15px 0;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <p>Please check your email to reset your password.</p>
    </div>
</body>
</html>
